<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>全品商城--登录页面</title>

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-login.css"/>
    <style type="text/css">
        .code-span {
            display: inline-block;
            border: 1px solid #999;
            text-align: center;
            line-height: 35px;
            width: 118px;
            height: 35px;
            float: right;
            margin-left: 10px
        }
        .code-span:hover{
            background-color: #c0ccda;
        }
    </style>
</head>


<body>
<div class="login-box">
    <!--head-->
    <div class="py-container logoArea">
        <a href="" class="logo"></a>
    </div>
    <!--loginArea-->
    <div class="loginArea" id="loginApp">
        <div class="py-container login">
            <div class="loginform">
                <ul class="sui-nav nav-tabs tab-wraped">
                    <li>
                        <a href="#index" data-toggle="tab" @click="phoneLogin()">
                            <h3>手机号登录</h3>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#profile" data-toggle="tab" @click="usernameLogin()">
                            <h3 >账户登录</h3>
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-wraped">
                    <div id="index" class="tab-pane">
                        <form class="sui-form">
                            <div class="input-prepend">
                                <span class="add-on loginname"></span>
                                <input id="phone" type="text" placeholder="手机号" data-vv-as="手机号" 
                                    class="span2 input-xfat" v-model="form.phone" name="phone" 
                                    v-validate="{required:(form.type == 2 ? true : false),regex:/^1[35678]\d{9}$/,useful:2}">
                            </div>
                            <span style="color: red;">{{ errors.first('phone') }}</span>
                            <div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                    <input type="text" placeholder="短信验证码"  class="input-xfat input-xlarge" 
                                        style="width: 120px;" name="code"  data-vv-as="验证码" v-model="form.code"
                                        v-validate="{required:(form.type == 2 ? true : false),validCode:form.phone}">
                                    <span class="code-span" style="width: 150px;"  @click="createVerifyCode">
                                        {{sendMsg}}
                                    </span>
                                </div> 
                                <span style="color: red;">{{ errors.first('code') }}</span>        
                                <span style="color: red;"></span>
                            </div>               
                            <div class="logined">
                                <a class="sui-btn btn-block btn-xlarge btn-danger" @click="login"
                                   href="javascript:void(0)">登&nbsp;&nbsp;录</a>
                            </div>
                        </form>
                    </div>
                    <div id="profile" class="tab-pane  active">
                        <span v-text="msg"></span>
                        <form class="sui-form">
                            <div class="input-prepend"><span class="add-on loginname"></span>
                                <input id="username" type="text" placeholder="邮箱/用户名/手机号" 
                                class="span2 input-xfat" v-model="form.username">
                            </div>
                            <div class="input-prepend"><span class="add-on loginpwd"></span>
                                <input id="password" type="password" placeholder="请输入密码" class="span2 input-xfat"
                                    v-model="form.password">
                            </div>
                            <div class="setting">
                                <label class="checkbox inline">
                                    <input name="m1" type="checkbox" value="2" checked="">
                                    自动登录
                                </label>
                                <span class="forget">忘记密码？</span>
                            </div>
                            <div class="logined">
                                <a class="sui-btn btn-block btn-xlarge btn-danger" @click="login"
                                   href="javascript:void(0)">登&nbsp;&nbsp;录</a>
                            </div>
                        </form>
                        <div class="otherlogin">
                            <div class="types">
                                <ul>
                                    <li><img src="img/qq.png" width="35px" height="35px"/></li>
                                    <li><img src="img/sina.png"/></li>
                                    <li><img src="img/ali.png"/></li>
                                    <li><img src="img/weixin.png"/></li>
                                </ul>
                            </div>
                            <span class="register"><a href="register.html" target="_blank">立即注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--foot-->

    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <!-- 底部栏位 -->
    <!--页面底部版权信息，由js动态加载-->
    <div class="Mod-copyright"></div>
    <script type="text/javascript">$(".Mod-copyright").load("copyright.html");</script>
    <!--页面底部END-->

</div>

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/pages/login.js"></script>
</body>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script src="./js/validate.js"></script>
<script type="text/javascript">
Vue.use(VeeValidate, {
        events: 'blur',
        dictionary: {
            zh: {
                messages: {
                    required: (field) => field + '不能为空！',
                    min: (field, args) => field + '长度不能小于' + args[0],
                    max: (field, args) => field + '长度不能大于' + args[0],
                    alpha_dash: (field) => field + '只能包含数字、字母或下划线',
                    regex: (field) => field + "格式不正确",
                    is: () => "两次密码不一致"
                }
            }
        },
        locale: 'zh'
    });
    var loginVm = new Vue({
        el: "#loginApp",
        data: {
            form:{
                username:'',
                password:'',
                phone:'',
                code:'',
                type:1
            },
            msg:'',
            sended:false,//是否发送了验证嘛
            sendMsg:"获取短信验证码",
        },
        methods:{
            phoneLogin(){
                this.form.type = 2;
            },
            usernameLogin(){
                this.form.type = 1;
            },
            login(){
                this.$validator.validateAll().then(d =>{
                    if (d) {
                        mrshop.http.post("/oauth/oauth/login",this.form).then(resp => {
                            if(resp.data.code === 200){
                                //购物车合并,将localStorage中的数据同步到购物车,然后清空localStorage
                                let carList = mrshop.store.get("carList") || [];
                                
                                if(carList.length > 0){
                                    //不能用get请求,get请求限制大小
                                    mrshop.http.post("/car/car/mergeCar",{
                                        clientCarList:carList
                                    }).then(resp =>{
                                        if(resp.data.code === 200){
                                            mrshop.store.del('carList');
                                            const url = mrshop.getUrlParam("returnUrl");
                                            window.location = url || 'http://www.mrshop.com';
                                        }
                                    })
                                }else{
                                    const url = mrshop.getUrlParam("returnUrl");
                                    window.location = url || 'http://www.mrshop.com';
                                }     
                            }else if(resp.data.code == 5004){
                                this.msg = '用户名或密码错误'
                            }
                        }).catch(error => console.log(error))
                    }
                })
            },
            createVerifyCode() {// 生成短信验证码

                if(this.sended){//如果发送了验证码就不能发送验证码了
                    return ;
                }

                this.$validator.validate("phone").then(r => {
                    if (r) {
                        mrshop.http.post("/user-center/user/sendValidCode", {
                            phone : this.form.phone
                        }).then(resp =>{
                            console.log(resp)
                            if(resp.data.code == 200){
                                //发送验证码后,设置为已发送过验证码
                                this.sended = true;
                                //验证码有效时间60秒
                                let time = 60;
                                //js执行定时任务
                                const timer = window.setInterval(() =>{
                                    time--;
                                    this.sendMsg = "验证码已发送请"+ time + "秒后重试";
                                    if(time == 1){
                                        window.clearInterval(timer);
                                        this.sendMsg = "获取短信验证码";
                                        this.sended = false;
                                    }
                                }, 1000);
                            }
                        }).catch(error =>{error});
                    }
                });
            },
        },
        created(){
            this.$validator.extend('useful', {
                getMessage(field, args, data) {
                    return '手机未注册';
                },
                validate(value, args) {
                   
                    return new Promise(resolve => {
                        mrshop.http.get("/user-center/user/check/" + value + "/" + args[0])
                            .then(resp => {
                                if(resp.data.code == 200){
                                    resolve({
                                        valid: resp.data.data.length > 0,
                                    })
                                }
                            })
                    });
                }
            })
            this.$validator.extend('validCode', {
                getMessage() {
                    return "验证码输入错误"
                },
                validate(val, args) {

                    return new Promise(resolve => {
                        mrshop.http.get("/user-center/user/checkValidCode",{
                            params:{
                                phone:args[0],
                                code:val
                            }
                        }).then(resp => {
                            resolve({
                                valid:resp.data.code == 200,
                            })
                        }).catch(error =>{console.log(error)});
                    })
                }
            })
        }
    });
</script>
</html>